*{
    margin: 0px;
    padding: 0px;
}
.nav{
    background-color: black;
    margin: 0%;
    padding: 25px;
}
.nav a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin: 10px;
    padding-left: 50px;
}
.nav #an:hover{
    border: 5px solid white;
    border-radius: 8px;
    padding: 10px;
    margin: 8px;
}
.nav #gif{
    height: 45px;
    width: 45px;
    border-radius: 5px;
}
.nav #logo{
    height: 45px;
    width: 45px;
    border-radius: 10px;
}
.nav #links{
    height: 45px;
    width: 45px;
    border-radius: 10px;
    padding-left: 50px;
}
.main{
    background-color: #0de08c;
}
#top{
    font-size: 25px;
    color: white;
    background-color: white;
}
.main h2{
    font-size: 35px;
    color: white;
    font-family: monospace;
}
.main h3{
    font-size: 25px;
    color: white;
    font-family: cursive;
}
.main p{
    font-size: 30px;
    color: white;
    font-family: cursive;
}
h1{
    background-color: white;
}
marquee{
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    letter-spacing: 5px;
}
.imgs img{
    height: 400px;
    width: 350px;
    float: right;
}
.imgs #imgis{
    color: aliceblue;
    font-size: 35px;
    font-weight: bolder;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 10px;
    padding: 10px;
}
.imgs #profile{
    color: yellow;
    font-size: 35px;
    font-weight: bolder;
    font-family: monospace;
    margin: 10px;
    padding: 10px;
}
.imgs #profile2{
    color: white;
    font-size: 35px;
    font-weight: bolder;
    font-family: monospace;
    margin: 10px;
    padding: 10px;
}
.foot{
    border: 5px solid  white;
    border-radius: 10px;
    box-shadow: 5px;
    background-color: #0398fc;
}
.foot h6{
    text-align: center;
    text-decoration: none;
    font-size: 50px;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    padding-bottom: 100px;
}
.foot a img{
    height: 80px;
    width: 80px;
    border-radius: 10px;
    float: center;
    padding: 20px;
    margin: 20px;
}
.ser input{
    padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  width: 80%;
  background: #f1f1f1;
}
.ser button{
  width: 15%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}
.ser button:hover{
    background: #0b7dda;
}
.ser button::after{
    content: "";
  clear: both;
  display: table;
}
